body {
    display: flex;
    /* background-color: gray; */
    margin-top: 110px;
}

.div {
    margin-top: 150px;
    margin-left: 560px;
    background-color: aquamarine;
    padding: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 4px 4px black;
}

